<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 必须添加，否则权限开关不可点击，全部文件访问权限 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- 基本权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 对于Android 14及以上，还需要添加POST_NOTIFICATIONS权限（如果需要在通知栏显示提示） -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Android 14+ 特殊权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:icon="@drawable/avatar_x"
        android:label="@string/app_name"
        android:name="com.WeLoApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Application.FullscreenTranslucentStatus">
<!--        <activity-->
<!--            android:name="com.welo.HomeActivity"-->
<!--            android:exported="false" />-->

        <service
            android:name="com.welo.service.FloatingWindowService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:stopWithTask="false" />
        <service android:name="com.welo.service.RecordingForegroundService"
            android:exported="false"
            android:foregroundServiceType="microphone"
            android:permission="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
        <activity
            android:name="com.welo.login.ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" /> <!-- <activity -->
        <!-- android:name=".widget.GuideActivity" -->
        <!-- android:exported="false" /> -->
        <profileable
            android:shell="true"
            tools:ignore="UnusedAttribute" />

        <activity
            android:name="com.welo.HomeActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="taoavatar" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.MainSettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.TaoAvatar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>